
/* ===== RESET ===== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,Helvetica,sans-serif;
    background:#020617;
    color:#fff;
    overflow-x:hidden;
}


/* ===== BACKGROUND ===== */

.background{
    position:fixed;
    inset:0;
    z-index:-2;

    background:
    radial-gradient(circle at top left,#006eff33,transparent 40%),
    radial-gradient(circle at bottom right,#00bfff22,transparent 45%),
    #020617;
}


/* ===== HEADER ===== */

.header{

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:25px 60px;

}


.logo{

    display:flex;

    flex-direction:column;

}


.logo-text{

    font-size:46px;

    font-weight:900;

    color:#00bfff;

    letter-spacing:3px;

}


.logo small{

    color:#94a3b8;

    margin-top:5px;

}


.header-status{

    display:flex;

    gap:18px;

}


.status-card{

    background:rgba(255,255,255,.05);

    border:1px solid rgba(0,191,255,.25);

    backdrop-filter:blur(12px);

    border-radius:16px;

    padding:14px 18px;

    min-width:150px;

}


.status-title{

    display:block;

    color:#00bfff;

    font-weight:bold;

    font-size:20px;

}


.status-text{

    color:#cbd5e1;

    font-size:13px;

}
